
.form-container {
  display: flex;
  flex-direction: column;
}

.container {
  background: #378af2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indicator-container {
  display: flex;
  flex-direction: column;
  padding: 19px 80px 0 0;
  border-radius: 2px;
  color: grey;
}

.field-container {
  margin-left: 4px;
  width: 242px;
  margin-top: 6px;
  height: 4px;
  display: flex;
  border-radius: 2px;
  background: grey;
}

.first-field {
  border-radius: 2px 0 0 2px;
  width: calc(100%/3);
  height: 100%;
}

.second-field {
  height: 100%;
  width: calc(100%/3);
}

.third-field {
  height: 100%;
  width: calc(100%/3);
  border-radius: 0 2px 2px 0;
}

.input {
  box-sizing: border-box;
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  border: black 2px solid;
}
